{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class = 'field'>
            {{field}}
            {% if field.errors %}
                <div class="field-errors">
                    {% for error in field.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        {% endfor %}
        <label for="" >
            <input type="checkbox" id="togglePassword">
           Показать пароль
        </label>
        <button>Войти</button>
        {% if form.non_field_errors %}
        <div class="form-errors">
            {% for error in form.non_field_errors  %}
            <p class="error">
                {{error}}
            </p>
            {% endfor %}

        </div>
        {% endif %}
    </form>
</div>
<script>
    document.getElementById('togglePassword').addEventListener('change', function () {
        let passwordFields = document.querySelectorAll('.password');
        passwordFields.forEach(field => {
            field.type = this.checked ? 'text' : 'password';
        });
    });
</script>
{% endblock %}
