{% extends 'layout.html' %}
{% block content %}
<div class="post-container">
  <div class="header">
   <div>
    <div class="title">{{post.title}}</div>
    <div class="info">{{post.created_at|date:"d-m-Y"}}</div>
   </div>
   {% if post.author == user %}
   <div class="buttons">
    <a class = 'button primary'href="{% url 'app:edit_post' post.pk %}">
      <ion-icon name="create-outline"></ion-icon>
    </a>
    <a class='button danger'href="{% url 'app:post_delete' post.pk %}">
      <ion-icon name="trash-outline"></ion-icon>
    </a>
   </div>
   {% endif %}
  </div>
  <div>
    <div class="image">
      <img src="{{post.image.url}}" alt="" />
    </div>
    <div class="post-body">{{post.body}}</div>
    <hr />

    <form class="comments" method="post" action="{% url 'app:comment_create' %}">
      {% csrf_token %}
      {% for field in form %}
      {{field}}
      {% endfor %}
      <input type="hidden" name="post" value="{{post.pk}}">
      <div class="comments-list">
        <div class="title">Пока нет комментариев</div>
      </div>
    </form>
   
  </div>
  {% endblock %}





  <!-- {% if post.author == user %}
  <div class="buttons">
   <a class = 'button primary'href="{% url 'app:edit_post' post.pk %}">
     <ion-icon name="create-outline"></ion-icon>
   </a>
   <a class='button danger'href="{% url 'app:post_delete' post.pk %}">
     <ion-icon name="trash-outline"></ion-icon>
   </a>
  </div>
  {% endif %} -->

  <!-- Поставиили условие проверки совпадение автора и пользователя. Пользователь должен 
  редактировать только свой пост -->